$color-primary: #93bfbb;
$color-seconday: #3c4359;
$color-error: #d99177;
$color-success: #31bf84;

$color-white: #fff;
$color-black: #000;

$color-grey: #777;
$color-lightgrey: #aaa;
$color-darkgrey: #444;

$pad: 0.5em;
